html {
    scroll-padding-top: 84px;
}

header {
    background-color: #007765;
    height: 84px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    max-width: 239px;
    float: left;
    padding: 20px 55px 19px;
}

.logo img {
    width: 184px;
    height: 45px;


}

.as {
    font-family: "Roboto Thin", sans-serif;
    font-size: 24px;
    color: white;
    padding-top: 28px;
    padding-bottom: 27px;
    float: right;
    padding-right: 54px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

body {
    padding-top: 84px;
    font-family: "Roboto Thin", sans-serif;
}


.tech_message {
    color: white;
    font-family: "Roboto Thin", sans-serif;
    font-size: 72px;
    text-align: center;
}

.container {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.tech {
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
}

.problem {
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: #EEEEEE;
    display: inline-block;
    width: 100%;
}

.problem_cont {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.problem h1 {
    font-size: 64px;
    color: #007765;
    text-align: center;
    margin: 0;
}

.problem p {
    font-size: 32px;
    color: black;
}

.hero {
    background-image: url("images/bacckground2.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 128px;
    padding-top: 128px;
}

.clear {
    clear: both;
}

.hero_message {
    font-size: 48px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.hero_container {
    max-width: 1219px;
    box-sizing: border-box;
    padding-right: 55px;
    padding-left: 55px;
    margin-left: auto;
    margin-right: auto;
}

.coin img {
    float: left;
    width: 115px;
    height: 115px;
    margin-right: 48px;
}

.coin h1 {
    font-size: 64px;
    color: #007765;
    text-align: center;
    margin-top: 0;
}

.coin {
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
    font-size: 32px;
}

.coin_logo_with_text {
    min-height: 115px;
}

.coin_container {
    max-width: 1219px;
    box-sizing: border-box;
    padding-right: 55px;
    padding-left: 55px;
    margin-left: auto;
    margin-right: auto;
}

.team {
    display: inline-block;
    background-color: #EEEEEE;
    width: 100%;
    padding-top: 58px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding-bottom: 90px;
}

.team h1 {
    color: #007765;
    font-size: 64px;
    text-align: center;
    margin-top: 0;
    font-style: normal;
}

.team h2 {
    font-size: 24px;
    color: #007765;
    text-align: center;
    font-style: normal;
    margin: 2px;
}

.team img {
    height: 168px;
    width: 168px;
}

.first_line article, .second_line article {
    float: left;
    min-width: 350px;
    margin: 30px 9px 60px 9px;

}

.first_line, .second_line {
    padding-left: 55px;
    padding-right: 55px;
    max-width: 1219px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.footer {
    background-color: #333333;
    color: white;
    font-size: 18px;
    padding-bottom: 64px;
    padding-top: 48px;
    text-align: center;
}

.footer_container {
    max-width: 540px;
    margin: 0 auto;
}